@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
*{
    box-sizing: border-box;
    font-family: 'gugi' 'cursive', sans-serif;
}

body{
    background-color: #eedea7;
}
.grid-container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    margin: 10px;
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);   grid-template-columns: repeat(4, 80px);
}

button{
    cursor: pointer;
    background-color: rgb(28, 22, 122);
    outline: none;
    color: aliceblue;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    transition: 200ms;
    margin: 2px 2px;
}
button:hover{
    background-color: rgb(71, 65, 65);
}

#output{    
    grid-column: 1/-1;
    background-color: rgb(21, 139, 100);
    margin: 2px;
    justify-content: center;
    display: flex;
   flex-direction: column;
   align-items: flex-end;
   padding: 15px;
}

/* .grid-container > .output > .operador-historico{
    color: black;
    font-size: 1rem;
}

.grid-container > .output > .operador-atual{
    color: black;
    font-size: 1.25rem;
} */


